<h1>
  Welcome to Login!
</h1>


<!--<div>-->
<!--<app-input-->
<!--type="text"-->
<!--[control]="signInForm.email"-->
<!--placeholder="Email"-->
<!--&gt;-->
<!--</app-input>-->
<!--<app-input-->
<!--type="text"-->
<!--[control]="signInForm.userName"-->
<!--placeholder="userName">-->
<!--</app-input>-->
<!--<app-input-->
<!--type="password"-->
<!--[control]="signInForm.password"-->
<!--placeholder="Password"-->
<!--&gt;-->
<!--</app-input>-->
<!--<app-input-->
<!--type="checkbox"-->
<!--[control]="signInForm.rememberMe"-->
<!--placeholder="rememberMe"-->
<!--&gt;-->
<!--</app-input>-->
<!--<p>-->
<!--Remember?-->
<!--</p>-->
<!--</div>-->

<form appForm [formGroup]="signInForm.form" [action]="actionLogin" method="POST">
  <ng-container title>Авторизация</ng-container>
  <app-input
    name="username"
    [control]="signInForm.username"
  >
    Логин:
  </app-input>

  <app-input
    name="password"
    [control]="signInForm.password"
    type="password"
  >
    Пароль:
  </app-input>

  <button type="submit" (click)="htmlSubmit()">
    Войти
  </button>
</form>


<!--<button-->
  <!--(click)="handleSignIn($event)">-->
  <!--Sign In-->
<!--</button>-->
<!--/-->
<!--<button-->
  <!--(click)="handleSignUp()">-->
  <!--Sign Up-->
<!--</button>-->

<!--<br><br>-->

<!--<button-->
  <!--(submit)="handleGoBack()">-->
  <!--Go Back-->
<!--</button>-->
